.portfolio {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  gap: 0.93rem;
  margin-bottom: 1.8rem;
  margin-top: 2rem;
  padding: 0rem;
}

.links li {
  font-size: 1.06rem;
  cursor: pointer;
  list-style: none;
  transition: 0.5s;
}

.links li:hover,
.links li:active {
  background-color: #c85c8e;
  padding: 0.3rem 0.63rem;
  border-radius: 0.3rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #101828;
  padding: 2.5rem 0.63rem;
  border-radius: 1.56rem;
  border: 0.06rem solid #1f242d;
}

.overlay {
  position: absolute;
  background: rgb(32, 40, 59, 0.9);
  bottom: 0rem;
  width: 100%;
  padding: 1.25rem 0.63rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
  cursor: pointer;
}

.overlay:hover {
  opacity: 1;
}

.overlay h1 {
  margin: 0rem;
  font-size: 1.25rem;
  color: #c85c8e;
}

.linksContainer {
  display: flex;
  gap: 0.63rem;
}

.link {
  background: #c85c8e;
  padding: 0.43rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.75rem;
  border-radius: 0.3rem;
  border: none;
  transition: 0.5s ease;
}

.link:hover {
  background: #ffbaba;
  color: #000;
}

@media (max-width: 1400px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1040px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 860px) {
  .box h1 {
    font-size: 0.93rem;
  }

  .box p {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .portfolio {
    height: auto;
  }

  .links li {
    font-size: 0.93rem;
  }

  .link {
    padding: 0.3rem;
  }
}

@media (max-width: 750px) {
  .content {
    grid-template-columns: 1fr;
  }

  .links {
    gap: 0.63rem;
  }
}
