.navbar {
  width: 100%;
  height: 3.75rem;
  position: fixed;
  top: 0;
  background: #0b1120;
  z-index: 1;
  padding-right: 0.63rem;
  border-bottom: 0.06rem solid #20283b;
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar_left_logo {
  width: 6.8rem;
}

.navbar_right {
  display: flex;
  list-style-type: none;
}

.navbar_right li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.93rem;
  padding: 0 0.93rem;
}

.navbar_right li a:hover {
  color: #c85c8e;
}

.active {
  color: #c85c8e;
}

.nonActive {
  color: #fff;
}

.toggle {
  display: none;
}

@media (max-width: 768px) {
  .toggle {
    display: inline;
    padding: 0 0.93rem;
    padding-top: 1.25rem;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .navbar_right {
    display: none;
  }
}
