.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-top: 3rem;
}

.about_container {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 80%;
  margin-top: 50px;
}

.about_container h4 {
  align-self: flex-start;
  margin: 0;
}

.about_container p {
  margin: 0;
}

.about_description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .about_description {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .about {
    margin-top: 0rem;
    padding-top: 3rem;
    height: auto;
  }

  .about_container {
    flex-direction: column;
    width: 100%;
    text-align: justify;
    font-size: 15px;
    margin-top: 10px;
  }
}
