.header {
  background: #1f242d;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 80vh;
  padding: 0 150px;
  gap: 20px;
}

.row {
  display: flex;
  width: 80%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.title h1 {
  color: #c85c8e;
  margin-bottom: 0px;
}

.title h5 {
  margin-bottom: 0px;
}

.header_content p {
  font-size: 15px;
  margin-bottom: 26px;
  line-height: 33px;
  font-family: "Lato", sans-serif;
}

.btn {
  outline: none;
  border: none;
  color: #000;
  text-decoration: none;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image {
  border-radius: 50%;
}

/* .image {
  animation: right-mover 1s ease-in-out infinite alternate;
}

@keyframes right-mover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
} */

.button {
  background: #c85c8e;
  padding: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  border-radius: 35px;
  box-shadow: 0 0 10px 0 #c85c8e;
  border: 1px solid transparent;
  margin-top: 20px;
}

.button:hover {
  background: #ffbaba;
  box-shadow: 0 0 10px 0 #ffbaba;
  color: #000;
}

@media (max-width: 768px) {
  .image {
    display: none;
  }
}
